body{
	background: rgb(168, 168, 180);
	margin: 0;
	padding: 0;
}
.contenetor-div{
	height: 200px;
	width: 99%;
}

h1{
	
	font: italic bold 40px/30px Georgia, serif;
}
.analizar{
	width: 330px;
	
	margin: auto;
	
}
.analizar input{
	margin-left: 50px;

}
tr, td{
	border: 1px solid black;
}
.analizar button{
	display: inline-flex;

	margin-left: 10px;
}
#texto{
	background: none;
	border-radius: 12px;
	height: 35px;
	border: 2px solid rgb(30, 30, 94);
}
table{
	width: 400px;
	margin: auto;
	border: 1px solid gray;
}
th{
	text-align: center;
	border: 1px solid gray;
	color: white;
	background: rgb(100, 30, 30);

}
.cargar-archivo{
	width: 400px;

	margin: auto;
}

.perfil{
	width: 80%;
	margin-left: 100px;
	background: rgb(13, 13, 14);
	color: white;
	border: 1px solid;
	margin-top: 100px;
	padding: 40px 40px;
	transition: 4s;
}
.perfil:hover{
	background: white;
	color: black;

	transition: 2.8s;
	background-image: url("img/usac.jpg") ;
	background-repeat: no-repeat;
	background-size: 80% 300px;
	
}