<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/rename.css">

    <title>Document</title>
</head>
<body>
        <% include html/nav.html%>
        <div class="perfil">
            <section>
                   <h1>
                        Centro universitario del occidente 
                   </h1>
                    <br>
            </section>
            <section>
                <h2>Jhonny ismael Garcia Hernandez</h2>
                <br>
                <h2>carnet: 201830454</h2>
                <br>
                <h2>Curso: Lenguajes formales</h2>
            </section>
            <br>
            <section>
               
                <h3>
                    Proyecto: programación de un automata con node.js
                    <br>
                </h3>
               
            </section>
        </div>
        
</body>
</html>